{% extends "layout.html.twig" %}


{% block title %}
<h2>Mentions</h2>
{% endblock %}

{% block content %}
	<p>
		<h3>Mentions légales </h3>
			Auteur du site : Jean Forteroche</br>
			Adresse mail : J.Forteroche@gmail.com
		</br>
		<h3>Contact </h3>
			Pour toute question, remarque sur le fonctionnement ou le contenu de ce site, merci de contacter : J.Forteroche@gmail.com</br>
		<h3>Droits, Attributions </h3>
			Photo de glacier en header :</br>
			Licence Pixabay : Libre pour usage commercial : Pas d'attribution requise</br>
			https://pixabay.com/fr/glacier-de-saumon-hyder-alaska-1630072/
		</br>accédé le 02_08_2017</br>
		<h3>Attribution des textes du site</h3>
			Le texte du roman est libre de droit.
			Merci d'utiliser ce texte d'attribution : Jean forteroche, Un aller simple pour l'Alaska, 2017.</br>
			Les commentaires sont la propriété de leur auteurs, et non reproductibles quel que soit le support, le procédé, le contexte utilisé.
		<h3>Commentaires, avis aux auteurs </h3>	
			Les commentaires sont sous la responsabilités de leur auteurs, et ne représentent ni un avis, ni un conseil, ni une opinion du site ou de l'auteur du site.
			L'auteur du site se réserve le droit de supprimer/modifier toute partie ou tout commentaire qui présenterait ou induirait des idées non conformes à la loi ou à contraires à la morale (notamment sur les thématiques religieuses, ethniques, politiques, philosophiques). 
			</br>
			
		</br>
	</p>
{% endblock %}
